* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #020A18
}
.container {
    margin: 0 auto ;
    width: 1146px;
}
.header-link {
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    padding: 40px 20px;
    border: 1px solid transparent;
}
.header-flex {
    display: flex;
    justify-content: center;
}
.header-link:hover {
    color: #3A6888;
    border: 1px solid #3A6888;
    border-radius: 10px;
}

.header {
    margin-bottom: 160px;
}
.subtitle {
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    text-transform: uppercase;
    margin-bottom: 10px;
}
.title {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 62.4px */
    margin-bottom: 40px;
}
.dsc {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    opacity: 0.7;
    margin-bottom: 50px;
}
.main-link {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    padding: 1rem 2rem;
    background-color: #3A68B8;
    text-decoration: 0px;
    margin-right: 20px;
    border: 1px solid transparent;
}
.main-link:hover {
    border: 1px solid #3A68B8;
    color: #3A68B8;
    background-color: #fff;
}

.flex {
    display: flex;
    justify-content: space-between;
}
.main-left, .main-right {
    width: 42%;
}
.main {
    margin-bottom: 200px;
}
.logos {
    margin-bottom: 256px;
}
.title1 {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
    margin-bottom: 30px;
    margin-top: 60px;
}
.button {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    padding: 1rem 2rem;
    background-color: #3A68B8;
    text-decoration: 0px;
    border: 1px solid transparent;
}
.container1-left, .container1-right {
    width: 40%;
}

.container2-left {
    margin-top: 264px;
    margin-right: 30px;
    width: 362px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 10px;
    opacity: 0.7;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 100%, #FFF 100%);
    backdrop-filter: blur(100px);
}
.image {
    display: block;
    margin: 0 auto;
    width: 98px;
    height: 103px;
    flex-shrink: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}
.title2 {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 31.25px */
    margin-bottom: 30px;
    opacity: 0.699999988079071;
}
.text {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.699999988079071;
    margin-bottom: 30px;
}
.container2-mid{
    margin-top: 264px;
    margin-right: 30px;
    width: 362px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 10px;
    opacity: 0.7;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 100%, #FFF 100%);
    backdrop-filter: blur(100px);
}

.container2-right {
    margin-top: 264px;
    margin-right: 30px;
    margin-bottom: 257px;
    width: 362px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 10px;
    opacity: 0.7;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 100%, #FFF 100%);
    backdrop-filter: blur(100px);
}
.title3 {
    color: var(--ffffff, #FFFFFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
    margin-bottom: 40px;
    margin-right: 25px;
}
.text1 {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.699999988079071;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.7;
}
.title4 {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 33px;
    margin-top: 269px;
}
.title5 {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer-img {
    display: flex;
    justify-content: space-between;
    
}

.text5 {
    color: var(--ffffff, #FFF);
font-family: Roboto;
font-size: 14px;
font-style: italic;
font-weight: 100;
line-height: normal;
opacity: 0.6000000238418579;

}
.footer-left, .footer-mid, .footer-right {
    width: 25%;
}
.footer-right {
    display: flex;
    flex-direction: column; 
}
.link-footer {
    margin-bottom: 24px;
}
.soc {
    width: 99px;
    height: 15px;
}